body {
    /* background-color: rgb(38, 134, 224); */
    background-color: #1B6EBB;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 243, 235);
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

header {
    text-align: center;
}

h1 {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 60px;
    font-family: "Shadows Into Light", arial;
}


a {
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

#logo {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}