body {
    /* background-color: rgb(38, 134, 224); */
    background-color: #1B6EBB;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 243, 235);
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}

header {
    text-align: center;
}

h1 {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 60px;
    font-family: "Shadows Into Light", arial;
}


a {
    text-decoration: none;
    padding: 5px;
    color: #F8F3EB;
}

a:hover {
    text-decoration: underline;
}

#logo {
    height: 200px;
    width: 200px;
    background-color: #F8F3EB;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 2px solid #F8F3EB;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
    border: 2px solid #F8F3EB;
    padding: 1em;
    border-radius: 1em;
}

.menu {
    flex-grow: 2;
    margin: 0.5em 1em;
}

.section, #tagline {
    margin-bottom: 4em;
}

.inseparator {
    height: 4em;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/tree.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #F8F3EB;
    border-radius: 100%;
    margin-bottom: 4em; */
}

.separator {
    border-bottom: 2px solid #F8F3EB;
    padding-bottom: 1em;
    margin-bottom: 4em;
}

@media (max-width: 640px) {
    .menu {
        width: 100%;
    }
}